<header>
  <h1><img src="https://burger-database-sequelize.herokuapp.com/assets/images/burger.png" alt="burger" id="burger"></h1>
  <h1>EAT-DA-BURGER!</h1>
  <h2><i>Order & Devour Your Favorite Burgers!</i></h2>
  <hr size="6" width="90%" color="red">

  <p>"I was at a restaurant, I saw a guy wearing a leather jacket at the same time he was eating a hamburger and
    drinking a glass of milk. I said, "Dude, you are a cow. The metamorphosis is complete. Don't fall asleep, or I will
    tip you over." ~ Mitch Hedberg</p>
  <hr size="6" width="90%" color="red">

</header>

<div class="toadd col-sm-4" style="max-width: inherit">
  <h5 class="text-center py-1">Place Your Order Here:</h5>
  <div class="input-group mb-3">
    <input type="text" id="ca" name="burger_name" class="form-control" placeholder="Burger Name..."
      aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="container" style="text-align: -webkit-center; padding-top: 1%">
    <div class="row mb-3" style="justify-content: center">
      <div class="tobedevoured col-sm-5">
        <h5 class="text-center py-1">BURGERS TO BE POUNDED!</h5>
        <ul class="burgers-devoured">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="toeat col-sm-4">
        <h5 class="text-center py-1">BURGERS YOU ANNIHALATED!</h5>
        <ul class="burgers-devoured">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>