#burger {
  height: 175px;
  width: 175px;
}

h1,
h2 {
  text-align: center;
  color: red;
  font-family: 'Pangolin', cursive;
  font-family: 'Permanent Marker', cursive;
}

.input-group {
  padding-left: 35%;
  padding-right: 35%;
}

.button,
.form-group {
  text-align: center;
}

header,
.body4 {
  background-color: rgb(248, 196, 99);
  padding-top: 2%;
}

p {
  position: center;
  color: black;
  text-align: center;
  padding-left: 14.7%;
  padding-right: 14.7%;
  font-family: 'Pangolin', cursive;
  font-family: 'Permanent Marker', cursive;
  font-size: large;
}

.toadd {
  background-color: rgb(248, 196, 99);
  margin-right: 10%;
  font-family: 'Pangolin', cursive;
  font-family: 'Permanent Marker', cursive;
  font-size: large;
}

.tobedevoured,
.toeat {
  background-color: rgb(248, 196, 99);
  margin-right: 10%;
  font-family: 'Pangolin', cursive;
  font-family: 'Permanent Marker', cursive;
  border-style: solid;
  border-radius: 5%;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
  display: none;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group1 {
  margin-bottom: 1rem;
  margin-top: -2rem;
}

input {
  font-size: x-small;
}

form {
  text-align: center;
}