h1,
h2 {
  text-align: center;
  color: red;
  padding-bottom: 1%;
}

.button,
.form-group {
  text-align: center;
}

header,
footer,
.body4 {
  background-color: rgb(248, 196, 99);
  padding-top: 2%;
}

p {
  position: center;
  color: black;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bold;
}

.tobedevoured,
.toeat,
.toadd {
  background-color: rgb(248, 196, 99);
  margin-right: 10%;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
  display: none;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group1 {
  margin-bottom: 1rem;
  margin-top: -2rem;
}

input {
  font-size: x-small;
}

form {
  text-align: center;
}